---
layout: common.hbs
styling: home.css
title: Pieter Jansen van Rensburg | New York | Paris
---
<header>
    <div class="header__left"></div>
    <div class="header__right">
        <img src="/img/pjvr-logotype.png" class="w3-mobile pjvr-logo"/>
    </div>
</header>

<address>
    <a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#105;&#110;&#102;&#111;&#064;&#112;&#106;&#118;&#114;&#046;&#099;&#111;&#046;&#122;&#097;"><img src="/img/pjvr-contact.png" class="w3-mobile pjvr-contact"/></a>
</address>

<main class="">

    <div class="row">

        {{#each column }}
        <div class="column">
            {{#each this }}
                <div class="cell">
                    {{#ifVideo this.type }}
                    <div class="video-container">
                    <iframe class="w3-mobile" src="{{ this.src }}?loop=1&amp;autoplay=1" width="100%" height="{{ this.height }}" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    {{/ifVideo}}
                    {{#ifImage this.type }}
                    <img src="{{ this.src }}" class="w3-mobile" width="100%" alt="{{ this.alt }}" />
                    {{/ifImage}}
                    <p class="brand">{{ this.brand }} / {{ this.project }}</p>
                </div>
            {{/each}}
        </div>
        {{/each}}

    </div>
</main>



<footer>
    <img src="/img/pjvr-new-york-paris.png" class="w3-mobile pjvr-new-york-paris"/>
</footer>

